body{
    padding-top: 10%;
    color: white;
}

h1{
    font-size: 500%;
    transition: color 0.5s ease-in-out;
}

h4{
    font-size: 150%;
}

#wrapper{
    background-color: rgba(38, 41, 44, 0.5);
    margin-top: 100px;
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    width: 50%;
    margin: auto;
}

.form,
.greetings{
    display: none;
}

.showing {
    display: block;
}

.js-toDoForm{

}